// Color
$primary: #e5e5e5;
$secondary: rgba(0, 0, 19, 0.4);


body{
	height: 100%;
	background: url('../img/background.jpg') no-repeat center center fixed;
	
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;

	.App {

		
		.logo {
			height: 30px;
			padding-bottom: 10px;
		}

		.title {
			padding-left: 10px;
			font-size: 1.5em;
		}

		hr {
			width: 99%;
			margin: 0 auto;
			vertical-align: top;
		}

		.navbar {
			background: none;
			border: none;
			margin: 0;
		}

		.navbar-collapse {
			background: none;
			border: none;

			.in {
				background: $secondary;
				border: $secondary;
			}
		}

		.navbar-default {

			.navbar-nav {
				
				li {
					
					a {
						color: white;
					}
				}

				.active {
					
					a {
						color: white;
						font-weight: bold;
						background: none;
					}
				}

				a {

					&:hover {
						color: white;
						background: $secondary;
					}
				}

			}

			.navbar-brand {
				color: $primary;
				font-weight: 500;
			
				&:focus {
					color: $primary;
				}

				&:hover {
					color: white;
				}

			}	
			
			.navbar-toggle {
				background: none;

				.icon-bar {
					background: $primary;
				}

				&:focus {
					background: none;
				}

				&:hover {
					background: $secondary;
				}

			}
			

		}

	}

}
