$primaryColor: white;
$secondaryColor: #e5e5e5;
$largeFont: 120px;
$mediumFont: 50px;
$smallFont: 40px;
$extraSmall: 30px;
$superSmall: 20px;

.lander {
	
	padding: 10px 20px;
	margin: 0 auto;

	h1 {
		font-size: $largeFont;
		color: $primaryColor;
	}

	h2 {
		width: 60%;
		font-size: $mediumFont;
		color: $secondaryColor;
	}

	h3 {
		font-size: $extraSmall;
		color: $secondaryColor;
		font-weight: bold;
	}

	p {
		padding-top: 20px;
		font-size: $superSmall;
		
		color: $secondaryColor;
	}

	a {

		&:focus, &:hover {
			color: $primaryColor;
		} 
	}

	.container {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		padding: 60px 0;

		.counter {
			width: 25%; 
			text-align: left;

			span {
				font-size: $smallFont;
				color: $primaryColor;
			}

		}
		
	}

		
	
	@media all and (max-width: 700px) {
		

		h1 {
			font-size: 80px;
		}

		h2 { 
			width: 100%;
			font-size: $extraSmall;
		}

		.container {
			padding-top: 0;

			.counter {
				width: 100%;
				text-align:center;
				padding-top: 60px;
			}
		}
	}

	@media all and (min-width: 600px) and (max-width: 900px) {
		
		h1 {
			font-size: 80px;
		}

		h2 { 
			width: 100%;
			font-size: $extraSmall;
		}


		.container {
			padding-top: 0;

			.counter {
				width: 50%;
				text-align:center;
				padding-top: 60px;
			}
		}
	}

}