// Fonts
$font-stack: Work Sans, sans-serif;

// Size
$extaLarge: 60px;
$large: 40px;
$medium: 25px;
$extra-small: 15px;

//weight
$light-weight: 300;
$xbold-weight: 800;

// Color
$primary: white;
$secondary: #ebebe0;

.lander {
	display: flex;
	flex-wrap: wrap;
	padding-top: 60px;
	margin: 0 auto;

	.lander-container {
		width: 100%;
		text-align: center;
		padding-bottom: 40px;

		.info {
			margin: 0 auto;

			.lander-logo {
				padding-bottom: 80px;
				max-width: 250px;
			}

			h1 {
				font: $large $font-stack;
				font-weight: $xbold-weight;
				text-transform: uppercase;
				margin-top: auto;
				color: $primary;
			}

			h2 {
				padding-top: 10px;
				font: $medium $font-stack;
				font-weight: $light-weight;
				margin-top: auto;
				color: $secondary;
			}
		}

		.box {
			width: 80%;
		}

		.call-to-action {

			max-width: 320px;
			padding-top: 60px;
			margin: 0 auto;

			p {
				padding-top: 10px;
				font: $extra-small $font-stack;
				font-weight: $light-weight;
				text-transform: uppercase;
				color: $secondary;
			}

			
			.btn {
				border-radius: 20px;
			}
		}
	}

	@media all and (min-width: 1200px) {
		height: 100%;
		padding-top: 200px;

		.lander-container {
			text-align: right;
			margin-top: auto;
			width: 50%;

			.info {
				
				h1 {
					font-size: $extaLarge;
				}

				h2 {
					font-size: $large;
				}
			}

			.call-to-action {
				text-align: center;
				margin-left: 50px ;

				p {
					padding-top: 20px;
				}
			}
		}


	}

	
}