// Fonts
$font-stack: Work Sans, sans-serif;

// Size
$large: 40px;
$medium: 20px;

// Color
$primary: white;
$secondary: #ebebe0;
$tertiary: #337ab7;


.Login {
	
	padding: 60px 0;
	height: 100vh;

	form {
		margin: 0 auto;
		max-width: 320px;

		#Element {
			display: none;
			font: $medium $font-stack;
			font-weight: bold;
			color: $primary;
		}

		p {
			padding-top: 5px;
			font: $font-stack;
			text-align: center;
			color: $secondary;
		}

		.login-title {
			font: $large $font-stack;
			color: $primary;
			text-align: center;
			padding-bottom: 40px;
		}

		.login-logo {
			display: block;
			margin: auto;
			width: 30%;
		}

		.input-group {
			.input-group-addon {
				background: $tertiary;
				border: $tertiary;
				color: $primary;
			}
		}
	}
}