.Signup {
	padding: 60px 0;

	form {
		margin: 0 auto;
		max-width: 320px;

		.input-group {
			.input-group-addon {
				background: #337ab7;
				border: #337ab7;
				color: white;
			}
		}
	}

	h1 {
		padding-bottom: 10px;
		font-size: 40px;
		color: white;
	}

	p {
		padding-top: 20px;
		text-align: center;
		color: #c2d1f0;
	}

	.labels {
		padding-bottom: 20px;
	}

	
}