// Fonts
$font-stack: Work Sans, sans-serif;

// Size
$large: 40px;
$medium: 20px;

// Color
$primary: white;
$secondary: #ebebe0;

.Signup {
	padding: 60px 0;

	form {
		margin: 0 auto;
		max-width: 320px;

		.input-group {
			.input-group-addon {
				background: #337ab7;
				border: #337ab7;
				color: white;
			}
		}

		#Element {
			display: none;
			font: $medium $font-stack;
			font-weight: bold;
			color: $primary;
		}
	}

	h1 {
		padding-bottom: 10px;
		font: $large $font-stack;
		color: $primary;
	}

	p {
		font: $font-stack;
		padding-top: 5px;
		text-align: center;
		color: $secondary;
	}

	.labels {
		padding-bottom: 20px;
	}

	
}